/.gradle/
/build/
/
/.settings
/build
/eclipse
/gradle
/.classpath
.gitignore
/forge-1.12.2-14.23.2.2618-changelog.txt
/gradlew.bat
/gradlew
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt